PORT=3000
JWT_SECRET=
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN_DAYS=7
ALLOWED_ORIGIN=http://localhost:3030
DATABASE_URL=postgresql://usuario:senha@localhost:5432/auth_api_dev
DATABASE_URL_TEST=postgresql://usuario:senha@localhost:5432/auth_api_test